body {
  font-size: 18px;
}

section {
  margin-bottom: 40px !important;
}

img.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

ul > li:hover {
  cursor: pointer;
}

button {
  margin-bottom: 40px;
  margin-right: 16px;
}
